div{
    width: 100%
}
.rightimg{
    max-width: 30%;
    height: auto;
    float: right;
    margin: 5px 0 5px 10px;
}
.leftimg{
    max-width: 30%;
    height: auto;
    float: left;
    margin: 5px 10px 5px 0;

}
h2{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}

h3{
    font-size: 30px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color:darkblue
}
span{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    
}
ol#planExample{
    background-color: goldenrod;
    list-style-position: inside;
    text-align: left;
}
.imgPosition{
    position: fixed;
    top: 10px;
    left: 25px;
    width: 5%;
    z-index: -1;
}

.checkbox_button{
    appearance: none;
}
.checkbox_label{
    font-size: 2rem;
    color: dodgerblue;
    padding-left: 30px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
}
.checkbox_label:before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #620505;
    background-color: #ed0c0c;
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox_button:checked + .checkbox_label:before{
    border: 1px solid #034912;
    background-color: #06c543;
}

.container{
    background-color: #efefef;
    display: inline-flex;
     flex-wrap: wrap; 
    margin-top: 20px;
    width: 750px;
    height: auto;
    align-content: center;
   justify-content: space-between;

}

.box{
    background-color: #f0cd06;
    text-align: left;
    margin: 10px;
    width: 50px;
    height: 70px;
    border: 2px solid #000000;
}
